<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8">
        <title>id 찾기</title>
    </head>
    <body>
    <form method=post action='/user/findid'>
        <h1> 이름을 이용하여 id 찾기 </h1>
        <p>NAME : <input type=text name=name> </p>
        <p><input type=submit value="ID 찾기"></p>
    </form>
    </body>
</html>
