<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8">
        <title>패스워드 찾기</title>
    </head>
    <body>
    <form method=post action='/user/findpass'>
        <h1> 패스워드 찾기 </h1>
        <h1> (ID,NAME) </h1>
        <p>ID : <input type=text name=id> </p>
        <p>NAME : <input type=text name=name> </p>
        <p><input type=submit value="password 찾기"></p>
    </form>
    </body>
</html>
